{% extends 'blog/base.html' %}

{% block content %}
	<h1>О нас:</h1>
	<p>На страницах нашего сайта вы можете получить полную информацию о нас. наши последние новости и ознакомиться с полным ассортиментом.</p>
	<p>Салон мебели «Интерьер» —  динамично развивающаяся компания, которая работает на мебельном рынке с 2000г. Мы начинали свою деятельность с небольшой организации в несколько человек, которая занималась продажей различной мебели. Тогда у нас не было современного оборудования и таких площадей как сейчас, зато был энтузиазм и сильное желание делать качественную мебель. Постепенно мы превратились в компанию с собственным отлаженным производством и широким ассортиментом продукции, как для дома, так и для офиса. Все эти годы мы не стояли на месте, а постепенно развивались, узнавая, что то новое, набирая квалифицированных и ответственных работников, внедряя новейшие производственные технологии, перенимая опыт отечественных и зарубежных специалистов, что позволило нам сделать нашу мебель еще более качественной, удобной и разнообразной. </p>
{% endblock %}